birdclef_data/TrainingSet/wav_16khz/*
CSCapstone-main/.DS_Store
.DS_Store
FlaskApp/.DS_Storee
figures/
MLProgram/train/modelWeights/
MLProgram/birdclef_data/TrainingSet/
MLProgram/birdclef_data/test/
MLProgram/predict.sh

