birdclef_data/TrainingSet/wav_16khz/*
.DS_Store
FlaskApp/.DS_Store
FlaskApp/DCASE/.DS_Store
birdclef_data/.DS_Store
birdclef_data/TrainingSet/.DS_Store
birdclef_data/TrainingSet/wav/.DS_Store
birdclef_data/TrainingSet/xml_data.pickle
birdclef_data/*.hdf5
birdclef_data/*.pickle
birdclef_data/test/.DS_Store
birdclef_data/test/wav2015/.DS_Store
birdclef_data/test/wav_16khz/
birdclef_data/test/xml_data.pickle
figures/
train/modelWeights/
